body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    background-color: aqua;
}
nav {
    background-color: aquamarine;
}
main {
    background-color: azure;
    font-size: 15px;
}